In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Cargar el archivo CSV en un DataFrame
df = pd.read_csv('/content/retail_sales_dataset.csv')

print("✓ Archivo vgsales.csv cargado exitosamente")
print(f"✓ DataFrame creado con {len(df)} filas y {len(df.columns)} columnas")

# Mostrar las primeras 10 filas del DataFrame para confirmar que los datos se han cargado correctamente
print("\nPrimeras 10 filas del DataFrame:")
df.head(10)

✓ Archivo vgsales.csv cargado exitosamente
✓ DataFrame creado con 1000 filas y 9 columnas

Primeras 10 filas del DataFrame:

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100
5,6,2023-04-25,CUST006,Female,45,Beauty,1,30,30
6,7,2023-03-13,CUST007,Male,46,Clothing,2,25,50
7,8,2023-02-22,CUST008,Male,30,Electronics,4,25,100
8,9,2023-12-13,CUST009,Male,63,Electronics,2,300,600
9,10,2023-10-07,CUST010,Female,52,Clothing,4,50,200

Clasificacion

In [3]:
#clasificador de ventas
def clasificador_ventas(amount):
        if amount >= 1000:
            return 'Alta'
        elif amount >= 300:
            return 'Media'
        else:
            return 'Baja'

df['ventas_clasificadas'] = df['Total Amount'].apply(clasificador_ventas)

df.head(10)

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount,ventas_clasificadas
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150,Baja
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000,Alta
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30,Baja
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500,Media
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100,Baja
5,6,2023-04-25,CUST006,Female,45,Beauty,1,30,30,Baja
6,7,2023-03-13,CUST007,Male,46,Clothing,2,25,50,Baja
7,8,2023-02-22,CUST008,Male,30,Electronics,4,25,100,Baja
8,9,2023-12-13,CUST009,Male,63,Electronics,2,300,600,Media
9,10,2023-10-07,CUST010,Female,52,Clothing,4,50,200,Baja

In [4]:
#Edad_clientes
def clasificador_edad(age):
        if age >= 50:
            return 'Adulto Mayor'
        elif age >= 30 and age < 50:
            return 'Adulto'
        else:
            return 'Joven'

df['Edad_clientes'] = df['Age'].apply(clasificador_edad)

df.head(10)

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount,ventas_clasificadas,Edad_clientes
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150,Baja,Adulto
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000,Alta,Joven
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30,Baja,Adulto Mayor
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500,Media,Adulto
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100,Baja,Adulto
5,6,2023-04-25,CUST006,Female,45,Beauty,1,30,30,Baja,Adulto
6,7,2023-03-13,CUST007,Male,46,Clothing,2,25,50,Baja,Adulto
7,8,2023-02-22,CUST008,Male,30,Electronics,4,25,100,Baja,Adulto
8,9,2023-12-13,CUST009,Male,63,Electronics,2,300,600,Media,Adulto Mayor
9,10,2023-10-07,CUST010,Female,52,Clothing,4,50,200,Baja,Adulto Mayor

# Normalizamos las ventas utilizando metodo de minimos y maximos
## Esto lo realizamos para que los valores esten en la misma escala, mejora la lectura de estos en un futuro algoritmo.

In [5]:
min_sales = df['Total Amount'].min()
max_sales = df['Total Amount'].max()

# Aplicar normalización Min-Max
df['ventas_normalizadas'] = (df['Total Amount'] - min_sales) / (max_sales - min_sales)

print("✅ Normalización Min-Max aplicada")
print(f"   • Rango original: ${min_sales:,.2f} - ${max_sales:,.2f}")
print(f"   • Rango normalizado: {df['ventas_normalizadas'].min():.4f} - {df['ventas_normalizadas'].max():.4f}")

✅ Normalización Min-Max aplicada
   • Rango original: $25.00 - $2,000.00
   • Rango normalizado: 0.0000 - 1.0000

# Agrupacion y agregacion:
## Primeramente agruparemos por categoria

In [6]:
agrupacion_categoria = df.groupby('Product Category').agg({
    'Total Amount': ['count', 'sum', 'mean', 'min', 'max'],
    'Quantity': ['sum', 'mean'],
    'Price per Unit': ['mean', 'min', 'max']
}).round(2)

print("Estadísticas por categoría de producto:")
print(agrupacion_categoria)


df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month
df['Month_Name'] = df['Date'].dt.strftime('%B')

agrupacion_categoria_mes = df.groupby(['Product Category', 'Month_Name']).agg({
    'Total Amount': ['count', 'sum', 'mean'],
    'Quantity': 'sum',
    'Customer ID': 'nunique'
}).round(2)
print("Estadísticas por categoría y mes:")
print(agrupacion_categoria_mes)

agrupacion_edad = df.groupby('Edad_clientes').agg({
    'Total Amount': ['count', 'sum', 'mean', 'min', 'max'],
    'Quantity': ['sum', 'mean'],
    'Price per Unit': ['mean', 'min', 'max']
}).round(2)

print("Estadísticas por categoría de producto:")
print(agrupacion_edad)

Estadísticas por categoría de producto:
                 Total Amount                           Quantity        \
                        count     sum    mean min   max      sum  mean
Product Category
Beauty                    307  143515  467.48  25  2000      771  2.51
Clothing                  351  155580  443.25  25  2000      894  2.55
Electronics               342  156905  458.79  25  2000      849  2.48

                 Price per Unit
                           mean min  max
Product Category
Beauty                   184.06  25  500
Clothing                 174.29  25  500
Electronics              181.90  25  500
Estadísticas por categoría y mes:
                            Total Amount                Quantity Customer ID
                                   count    sum    mean      sum     nunique
Product Category Month_Name
Beauty           April                29  11905  410.52       69          29
                 August               24   9790  407.92       62          24
                 December             25  12400  496.00       62          25
                 February             26  14035  539.81       68          26
                 January              26  13930  535.77       62          26
                 July                 27  16090  595.93       70          27
                 June                 25  10995  439.80       66          25
                 March                21  10545  502.14       51          21
                 May                  28  12450  444.64       65          28
                 November             25   9700  388.00       63          25
                 October              31  15355  495.32       83          31
                 September            20   6320  316.00       50          20
Clothing         April                36  13940  387.22       93          36
                 August               32  12455  389.22       78          32
                 December             26  12070  464.23       53          26
                 February             33  14560  441.21       75          33
                 January              26  13125  504.81       72          26
                 July                 19   8250  434.21       45          19
                 June                 28  10170  363.21       67          28
                 March                38  15065  396.45      111          38
                 May                  37  17455  471.76       97          37
                 November             26  15200  584.62       69          26
                 October              30  13315  443.83       74          30
                 September            20   9975  498.75       60          20
Electronics      April                21   8025  382.14       52          21
                 August               38  14715  387.24       87          38
                 December             40  20220  505.50       92          40
                 February             26  15465  594.81       71          26
                 January              26   9925  381.73       65          26
                 July                 26  11125  427.88       61          26
                 June                 24  15550  647.92       64          24
                 March                14   3380  241.43       32          14
                 May                  40  23245  581.12       97          40
                 November             27  10020  371.11       73          27
                 October              35  17910  511.71       95          35
                 September            25   7325  293.00       60          25
Estadísticas por categoría de producto:
              Total Amount                           Quantity        \
                     count     sum    mean min   max      sum  mean
Edad_clientes
Adulto                 413  189690  459.30  25  2000     1062  2.57
Adulto Mayor           336  143155  426.06  25  2000      827  2.46
Joven                  251  123155  490.66  25  2000      625  2.49

              Price per Unit
                        mean min  max
Edad_clientes
Adulto                174.64  25  500
Adulto Mayor          178.74  25  500
Joven                 190.08  25  500

# Analisis usando Apply

Calcularemos: La desviación de cada venta respecto a la media de su

1.  La desviación de cada venta respecto a la media de su grupo.
2.  El coeficiente de variación por categoría.
3.  Detecta outliers por categoría.
4.  La diferencia de la media de cada grupo respecto al promedio general.
5.  Estadísticas compuestas avanzadas por grupo.

In [8]:
# 1. Desviación respecto a la media del grupo
def desviacion_media_grupo(x):
    return x - x.mean()

df['Desviacion_Categoria'] = df.groupby('Product Category')['Total Amount'].transform(desviacion_media_grupo)

# 2. Coeficiente de variación
def cv_grupo(x):
    return x.std() / x.mean() if x.mean() != 0 else 0

cv_por_categoria = df.groupby('Product Category')['Total Amount'].apply(cv_grupo)

# 3. Análisis de outliers
def outliers_grupo(x):
    Q1, Q3 = x.quantile([0.25, 0.75])
    IQR = Q3 - Q1
    return len(x[(x < Q1 - 1.5*IQR) | (x > Q3 + 1.5*IQR)])

outliers_por_categoria = df.groupby('Product Category')['Total Amount'].apply(outliers_grupo)

In [9]:
# 4. Diferencia respecto al promedio general
def diferencia_promedio_general(x):
    media_general = df['Total Amount'].mean()
    return x.mean() - media_general

diferencia_promedio = df.groupby('Product Category')['Total Amount'].apply(diferencia_promedio_general)

# 5. Estadísticas compuestas
def estadisticas_compuestas(x):
    return pd.Series({
        'Media': x.mean(),
        'Mediana': x.median(),
        'Desv_Estandar': x.std(),
        'CV': x.std() / x.mean() if x.mean() != 0 else 0,
        'Ventas_Altas_%': (x > x.mean()).sum() / len(x) * 100,
        'Asimetria': x.skew(),
        'Curtosis': x.kurtosis()
    })

estadisticas_por_categoria = df.groupby('Product Category')['Total Amount'].apply(estadisticas_compuestas)

# Mostrar resultados
print("Desviación promedio:", df['Desviacion_Categoria'].mean())
print("\nCoeficiente de variación por categoría:")
print(cv_por_categoria)
print("\nOutliers por categoría:")
print(outliers_por_categoria)
print("\nDiferencia respecto al promedio general:")
print(diferencia_promedio)
print("\nEstadísticas compuestas:")
print(estadisticas_por_categoria)

Desviación promedio: 3.637978807091713e-14

Coeficiente de variación por categoría:
Product Category
Beauty         1.205652
Clothing       1.242411
Electronics    1.237046
Name: Total Amount, dtype: float64

Outliers por categoría:
Product Category
Beauty          0
Clothing       32
Electronics     0
Name: Total Amount, dtype: int64

Diferencia respecto al promedio general:
Product Category
Beauty         11.475570
Clothing      -12.752137
Electronics     2.786550
Name: Total Amount, dtype: float64

Estadísticas compuestas:
Product Category
Beauty            Media             467.475570
                  Mediana           120.000000
                  Desv_Estandar     563.612788
                  CV                  1.205652
                  Ventas_Altas_%     36.156352
                  Asimetria           1.271071
                  Curtosis            0.474587
Clothing          Media             443.247863
                  Mediana           120.000000
                  Desv_Estandar     550.695917
                  CV                  1.242411
                  Ventas_Altas_%     34.757835
                  Asimetria           1.457045
                  Curtosis            1.115572
Electronics       Media             458.786550
                  Mediana           150.000000
                  Desv_Estandar     567.540150
                  CV                  1.237046
                  Ventas_Altas_%     34.210526
                  Asimetria           1.401818
                  Curtosis            0.894074
Name: Total Amount, dtype: float64